.search_container {
  position: relative;
  /* border: 2px solid red; */
}

.search {
  padding-right: 13px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid black;
}
.space-between {
  justify-content: space-around;
}

.search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 13px;
  height: 20px;
  width: 20px;
}

.View-all {
  color: red;
}

.View-all:hover {
  background-color: rgb(161, 0, 0);
  padding: 5px 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.Container {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: #c9e1ed;
}
